/*---------------*/
/***** Sadie *****/
/*---------------*/
figure.hover-animate figcaption::before {
  position: absolute;
  bottom: 25px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 75%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

figure.hover-animate.n2n figcaption::before {
  border-bottom: 50px solid #b2232f;
}

figure.hover-animate.gs figcaption::before {
  border-bottom: 50px solid #455a64;
}

figure.hover-animate.fabc figcaption::before {
  border-bottom: 50px solid #3c0308;
}

figure.hover-animate.sii figcaption::before {
  border-bottom: 50px solid #2FADD5;
}

figure.hover-animate.lw figcaption::before {
  border-bottom: 50px solid #b69853;
}

figure.hover-animate.mc figcaption::before {
  border-bottom: 50px solid #323232;
}

figure.hover-animate h2 {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

figure.hover-animate figcaption::before,
figure.hover-animate p {
  color: white;
  text-transform: uppercase;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.hover-animate p {
  position: absolute;
  bottom: 45%;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 280px;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  z-index: 9999999;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

figure.hover-animate p a {
  border: 1px solid white;
  color: white;
  display: block;
  padding: 1em;
  text-decoration: none;
}

figure.hover-animate p a:hover {
  background: white;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

figure.hover-animate:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.hover-animate:hover figcaption::before,
figure.hover-animate:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
