

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.hover-animate figcaption::before {
  position: absolute;
  //border-bottom: 10px solid #fff;
  bottom: 25px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0,0,0,.5) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,1) 100%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(100,50%,0);
  transform: translate3d(100,50%,0);

}

figure.hover-animate.n2n figcaption::before {
  border-bottom: 40px solid #b2232f;
}
figure.hover-animate.gs figcaption::before {
  border-bottom: 40px solid #455a64;
}
figure.hover-animate.fabc figcaption::before {
  border-bottom: 40px solid #3c0308;
}
figure.hover-animate.sii figcaption::before {
  border-bottom: 40px solid #2FADD5;
}
figure.hover-animate.lw figcaption::before {
  border-bottom: 40px solid #b69853;
}
figure.hover-animate.mc figcaption::before {
  border-bottom: 40px solid #323232;
}
figure.hover-animate h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}
figure.hover-animate.dark:hover  h2 {
  //border-top: 1px solid rgba(255,255,255,.25) !important;
  //border-bottom: 1px solid rgba(255,255,255,.25) !important;
  border: none !important;
  color: #fff;
}
figure.hover-animate:hover h2 {
  border: none;
}
figure.hover-animate figcaption::before,
figure.hover-animate p {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.hover-animate p {
  position: absolute;
  bottom: 27%;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 280px;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
  z-index: 9999999;-webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;

  //&:hover {
  //  background: rgba(255,255,255,1);
  //  color: rgba(0,0,0,.75);
  //  cursor: pointer;
  //}

  a {
    background: url("../img/chevron-rt2.png") no-repeat 90% 50%;
    border: 1px solid rgba(255,255,255,.5);
    color: rgba(255, 255, 255, 1);
    display: block;
    font-size: .85rem;
    font-weight: 800;
    letter-spacing: .2rem;
    padding: 1.5em 0;
    text-decoration: none;

    &:hover {
      background: url("../img/chevron-rt1.png") no-repeat 91% 50% rgba(255,255,255,1);
      color: rgba(0,0,0,1);
      cursor: pointer;
    }
  }
}
//figure.hover-animate {
//
//  img {
//    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
//    filter: grayscale(100%);
//
//    &:hover {
//      -webkit-filter: none;
//      filter: none;
//    }
//  }
//}
figure.hover-animate:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.hover-animate:hover figcaption::before ,
figure.hover-animate:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.hover-animate.lw,
figure.hover-animate.mc {

  &:hover {
    background: rgba(0,0,0,.75);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    img {

      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      opacity: 0;
    }
  }
}
figure.hover-animate.mc:hover {
  background: #323232;
}
figure.hover-animate.lw:hover {
  background: #b69853;
}
///* Media queries */
//@media screen and (max-width: 50em) {
//  .content {
//    padding: 0 10px;
//    text-align: center;
//  }
//  .grid figure {
//    display: inline-block;
//    float: none;
//    margin: 10px auto;
//    width: 100%;
//  }
//}