/*
My Styles
*/

body {
  background: lighten($colorBody, 75%);
  overflow-x: hidden;
  

}

/*body:before, body:after {
  content: "";
  position: fixed;
  background: rgba(0,0,0,1);
  left: 0;
  right: 0;
  height: 3px;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body {
  background: #000;
  border-left: 3px solid rgba(0,0,0,1);
  border-right: 3px solid rgba(0,0,0,1);
}*/

.page-wrap, main {
  background: rgba(255,255,255,1);
  max-width: 1560px;
  margin: 0 auto;
}
//.page-wrap {
//  margin-bottom: 200px;
//}
.header-wrap {
  background: rgba(255,255,255,1);
  height: 105vh;
  width: 100%;
}
.header-main {
  background: rgba(255,255,255,1);
  border-bottom: rgba(0, 0, 0,.025);
  //height: 50vh;
  height: 700px;
  //height:90vh;
  margin: 0 auto 2em;
  padding: 0 4em;

  .subpage & {
    height: 644px;
    margin-bottom: 0;
  }

  &:before {
    content: "";
    position: fixed;
    background: url("../img/top-border.jpg") top center no-repeat;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    max-width: 1560px;
    height: 2px;
    z-index: 999999;
  }
  &:after {
    content: "";
    position: fixed;
    background: url("../img/top-border.jpg") top center no-repeat;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 1560px;
    height: 2px;
    z-index: 999999;
  }
  
  h1 {
    color: #B69853;
  }

  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    //min-height: 50%;
    //-webkit-box-pack: center;
    //-webkit-justify-content: center;
    //-ms-flex-pack: center;
    //justify-content: center;

    &.profile-wrap {
      height: 25vh;
      height: 50px;
      max-width: 660px;
      margin: 0 auto;
    }
  }
  

}
.ui.grid > [class*="equal width"].row > .column, 
.ui[class*="equal width"].grid > .column:not(.row), 
.ui[class*="equal width"].grid > .row > .column {
  //background: rgba(255,255,255,1);
}

.brand-top {
  height: 150px;
}
.heading-top {
  height: 440px;
  //height: 40vh;
  margin-top: 0 !important;
  
  .subpage & {
    height: 510px;

    &.subpage-banner {


      //&:hover {
      //  background: darken(#455a64, 10%);
      //  -webkit-transition: all .5s ease;
      //  -moz-transition: all .5s ease;
      //  -ms-transition: all .5s ease;
      //  -o-transition: all .5s ease;
      //  transition: all .5s ease;
      //}

      h1 {
            color: rgba(255,255,255,1);

            &::before {
              border-bottom: 1px solid rgba(255,255,255,.5);
              border: none;
            }
            &::after {
              border-bottom: 1px solid rgba(255,255,255,.5);
              border: none;
            }

          }

    }

    &.sii {
      background: url("../img/sii-header.jpg") 50% 50% no-repeat;
      //background: #2FADD5;
      color: rgba(255,255,255,.8);
    }

    &.gs {
      background: url("../img/gs-header.jpg") 50% 50% no-repeat;
      //background: #455a64;
      color: rgba(255,255,255,.8);

    }

    &.fabc {
      background: url("../img/fabc-header.jpg") 50% 50% no-repeat;
      //background: #3c0308;
      color: rgba(255,255,255,.8);
    }

    &.mc {
      background: url("../img/mc-header.jpg") 50% 50% no-repeat;
      background: #323232;
      color: rgba(255,255,255,.8);
    }

    &.lw {
      background: url("../img/lw-header.jpg") 50% 50% no-repeat;
      background: rgba(182,152,83,1);
      color: rgba(255,255,255,.8);
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 300;
    //color: rgba(182,152,83,1);
    line-height: 3rem;
    margin-bottom: .5rem;

    &::before {
      border-bottom: 1px solid rgba(0,0,0,.1);
      top: -20px;
      content: "";
      display: block;
      height: 1px;
      /* left: 45%; */
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      width: 80px;
    }
    &::after {
      border-bottom: 1px solid rgba(0,0,0,.1);
      bottom: -20px;
      content: "";
      display: block;
      height: 1px;
      /* left: 45%; */
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      width: 80px;
    }

    /*&::before {
      border-bottom: 1px solid rgba(0,0,0,.1);
      top: -10px;
      content: "";
      display: block;
      height: 1px;
      /!* left: 45%; *!/
      left: 1rem;
      position: absolute;
      width: 50px;
    }
    &::after {
      border-bottom: 1px solid rgba(0,0,0,.1);
      bottom: -10px;
      content: "";
      display: block;
      height: 1px;
      /!* left: 45%; *!/
      left: 1rem;
      position: absolute;
      width: 50px;
    }*/
  }
  p {
    font-family: 'merriweather_lightregular';
    font-size: 1.25rem;
    margin-top: .25rem;
    line-height: 2.25rem;
  }
}

.projects {
  //padding: 0 1px;
  background: rgba(255,255,255,1);
  
  .ui.grid {
    margin-bottom: -1.1em;
    margin-left: 0;
    margin-right: 0;
  }
  .column {
    //margin-bottom: 2px;
    padding: 0 !important;
  }
 }

.project-details {
  background: rgba(255,255,255,1);
  text-transform: none;
  
  .subpage & {
    background: transparent;
    //overflow: hidden;
  }
}

.project-title {
  font-size: $h2FontSize - 18px;
  letter-spacing: .15em;
  text-transform: uppercase;

  .subpage & {
    font-family: $baseFontFamily;
    font-size: .75rem;
    line-height: 2;
    padding: 6em !important;
    text-align: left;
  }
  
  h2 {
    //font-family: 'montserratregular';
    //font-size: 2rem;
    //font-weight: 800;

    &::before {
      border-bottom: 1px solid rgba(255,255,255,.25);
      top: -1em;
      content: "";
      display: block;
      height: 1px;
      margin: 0 auto;
      /* left: 45%; */
      right: 0;
      left: 0;
      position: absolute;
      width: 50px;
    }

    &::after {
      border-bottom: 1px solid rgba(255,255,255,.25);
      bottom: -1em;
      content: "";
      display: block;
      height: 1px;
      margin: 0 auto;
      /* left: 45%; */
      right: 0;
      left: 0;
      position: absolute;
      width: 50px;
    }
  }
}
.project-item {
  background: #716E68;
  border-top: 1px solid #fff;
  align-items: center !important;
  justify-content: center;
  margin-left: 3em !important;
  margin-right: 3em !important;
  text-align: center;
  
  //.subpage & {
  //  padding: 6em !important;
  //}


  a {
    //border: 1px solid rgba(255,255,255,.5);
    color: rgba(182,152,83,1);
    padding: 1rem 0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    top: 5%;
    bottom: 5%;
    height: 90%;
    width: 94%;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    
    img {
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  img {
    margin-bottom: -2px;
    position: relative;
  }
  &:hover a {
    color: rgba(182,152,83,1);
    opacity: 1;
    //background: url("../img/sweet-it-is-logo.png") 50% 50% no-repeat rgba(255,255,255,1);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    //img {
    //  position: relative;
    //  top: 20%;
    //}

  }
  /*span {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(182,152,83,.25);
    display: block;
    padding: 1em 0;
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    &:hover {
      background: rgba(255, 255, 255, 1);
      border-color: rgba(0,0,0,.25);
      color: rgba(0,0,0,.5);
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
    }
  }*/
  &.fabc {
    background: #3c0308;
    //background: #fff;
    color: rgba(255,255,255,1);
    //color: rgba(0,0,0,.75);
    
    //.column-left {
    //  background: url("../img/projects/fabc.jpg") no-repeat top left;
    //}
  }
  &.gs {
    background: #455a64;
    //background: #fff;
    color: rgba(255,255,255,1);
    //color: rgba(0,0,0,.75);
  }
  &.sii {
    background: #2FADD5;
    //background: #fff;
    color: rgba(255,255,255,1);
    //color: rgba(0,0,0,.75);
  }
  &.mc {
    background: #323232;
    //background: rgba(0,0,0,1);
    //background: #fff;
    color: rgba(255,255,255,1);
    //color: rgba(0,0,0,.75);
  }
  &.lw {
    //background: rgba(182,152,83,1);
    //background: rgba(238, 238, 238, 1);
    background: #fff;
    color: rgba(255,255,255,1);
    
    h2 {
      color: rgba(0,0,0,.75);

      &::before {
        border-bottom: 1px solid rgba(0,0,0,.075);
      }

      &::after {
        border-bottom: 1px solid rgba(0,0,0,.075);
      }
    }
  }

  h2 {
    color: rgba(255, 255, 255, 1);
    margin: 4rem 0 0;
    font-size: 1.75rem;
  }
}

.column-left {
  border-right: 1px solid rgba(255, 255, 255, 1);
  margin-right: -2px;
}

.column-right {
  background-clip: content-box;
  border-left: 1px solid rgba(255,255,255,1);
  margin-bottom: 1px;
}
@media only screen and (max-width: 991px) {

  .header-main {
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;

    //.heading-top {
    //  -webkit-box-align: end;
    //  -webkit-align-items: flex-end;
    //  -ms-flex-align: end;
    //  align-items: flex-end;
    //}
  }

  .navbar {

    float: none;

    ul {
      display: block;
      text-align: center;
    }
    li {
      margin: 0;
    }
    a {
      display: block;
      padding: 1em;
    }
  }
  h1, h2, h3 {
    text-align: center;
  }
  h1 {
    font-size: 1rem;
  }
  .brand-top {
    height: 50%;
    
    img {
      display: block;
      margin: 0 auto;
    }
  }

  //.heading-top {
  //  height: 40%;
  //}

  .ui.column.grid > [class*="eight wide"].column,
  .ui.grid > .column.row > [class*="eight wide"].column,
  .ui.grid > .row > [class*="eight wide"].column,
  .ui.grid > [class*="eight wide"].column,
  .ui.column.grid > [class*="six wide"].column,
  .ui.grid > .column.row > [class*="six wide"].column,
  .ui.grid > .row > [class*="six wide"].column,
  .ui.grid > [class*="six wide"].column,
  .ui.column.grid > [class*="ten wide"].column,
  .ui.grid > .column.row > [class*="ten wide"].column,
  .ui.grid > .row > [class*="ten wide"].column,
  .ui.grid > [class*="ten wide"].column{
    width: 100% !important;
  }
  .ui.grid > .stackable.stackable.row > .column, 
  .ui.stackable.grid > .column.grid > .column, 
  .ui.stackable.grid > .column.row > .column,
  .ui.stackable.grid > .column:not(.row), 
  .ui.stackable.grid > .row > .column, 
  .ui.stackable.grid > .row > .wide.column, 
  .ui.stackable.grid > .wide.column {
    padding: 0 !important;
  }


}

@media only screen and (max-width: 600px) {

  .header-main {
    padding-top: 2em;
  }

  h1 {
    font-size: .9rem;
  }
  .navbar li a {
    background: rgba(113, 109, 103, 0.5);
    color: rgba(255, 255, 255, 1);
    margin: 0 auto 1px;
    max-width: 160px;
  }

}