

body {
  color: rgba(113, 109, 103, 0.75);
  font-family: 'montserratregular';
}
h1 {
  font-size: 1.35rem;
  //letter-spacing: 0.1em;
  line-height: 1.6em;
}
h1, h2, h3 {
  //color: #716D67;
  font-family: 'merriweather_lightregular';
  font-weight: 100;
 
}

p, li, a {

}